<app-user-header></app-user-header>
<app-sidevar></app-sidevar>

<!-- Content START -->

<div class="layout">
    <div class="vertical-layout">
        <!-- Header START -->
        <app-user-header></app-user-header>  
        <!-- Header END -->

        <!-- Side Nav START -->
        <app-sidevar></app-sidevar> 
        <!-- Side Nav END -->

        <!-- Content START -->
        <div class="content">
            <!-- Content START -->
            <div class="main">
                
            <div class="card">
                <div class="card-body">
                    <div class="alert alert-danger col-md-6" [hidden]="!error" *ngFor="let item of error; index as i">
                        {{error[i]}}
                   </div>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h4 class="mb-0">Add Task</h4> 
                    </div>
                    <form [formGroup]="addTask" (ngSubmit)="saveTask()">
                        <div class="form-group mb-4">
                            <label class="form-label">What is to be done?</label>
                            <textarea class="form-control" formControlName="task_title"></textarea>
                        </div>
                    <div class="row mb-4">
                    <div class="col-6">
                                <div class="form-group">
                                    <label class="form-label">Select Date</label>
                                    <input type="date" class="form-control" formControlName="due_date">
                                </div>
                        
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                                <label class="form-label">Select Time</label>
                                <input type="time" class="form-control" formControlName="time_set">
                        </div>
                    </div>
                    </div>
                        <div class="form-group mb-4">
                            <label class="form-label">Repeat</label>
                            <select class="form-control" formControlName="repeat">
                                <option value="daily">Onece a Day</option>
                                <option value="weekly">Onece a Week</option>
                                <option value="monthly">Onece a Month</option>
                                <option value="yearly">Onece a Year</option>
                            </select>
                        </div>
                        <div class="form-group mb-4">
                            <label class="form-label"> Task List</label>
                            <select formControlName="category_id" class="form-control">
                                <option value="">--Select--</option>
                                <option value="{{item['id']}}" *ngFor="let item of categoryData; index as i">
                                    {{item['category_name']}}
                                </option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
        
                </div>
            </div>
            <!-- Footer START -->
            <app-user-footer></app-user-footer>
            <!-- Footer End -->
        </div>
        <!-- Content END -->

    </div>
</div>

