<!-- <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Navbar</a>
      <div>
        <a class="btn btn-outline-success my-2 my-sm-0 m-2" routerLink="login">Login</a>
        <a class="btn btn-outline-success my-2 my-sm-0" >Signup</a>
     </div>
</nav> -->

        <!--Navbar Start-->
        <nav class="navbar navbar-expand-lg fixed-top navbar-custom " id="navbar">
            <div class="container">
                <!-- LOGO -->
                <a class="navbar-brand logo" href="index.php">
                    <span class="logo-dark">  <img src="assets/images/checked.svg" alt=""  height="28" /> RsTodo</span>
                   <span class="logo-light"><img src="assets/images/checked-white.svg" alt=""  height="28" /> RsTodo</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="" data-feather="menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto navbar-center" id="navbar-navlist">
                        <li class="nav-item">
                            <a href="index.php" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#services" class="nav-link">Services</a>
                        </li>
                        <li class="nav-item">
                            <a href="#features" class="nav-link">Features</a>
                        </li> 
                        <li class="nav-item">
                            <a href="#contact" class="nav-link">Contact Us</a>
                        </li>
                    </ul>
                    <a routerLink="login" class="btn btn-sm rounded-pill nav-btn ms-lg-3">Login</a>
                </div>
            </div>
            <!-- end container -->
        </nav>
  <!-- Navbar End -->