<section class="section bg-gradient-primary">
    <div class="bg-overlay-img" style="background-image: url(images/demos.png);"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <h1 class="text-white mb-4">Achieve peace of mind with Todoist</h1>
                    
                    <a href="#" class="btn btn-lg btn-light">Start to free</a>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
