<div class="container">
    <div class="card">
        <div class="card-header">
          Add Todo
        </div>
        <div class="card-body">
          <div class="alert alert-danger col-md-6" [hidden]="!error" *ngFor="let item of error; index as i">
               {{error[i]}}
          </div>
          <form [formGroup]="addTodo" (ngSubmit)="saveTodo()">
            <div class="row">
                <div class="col-md-6"> 
                        <div class="form-group">
                          <label for="exampleInputEmail1">Title</label>
                          <input type="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Title" required="" formControlName="title">
                          <span class="text-danger" *ngIf="validationMessage.title.invalid && validationMessage.title.touched">The title filed is required</span>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Category</label>
                          <select formControlName="category_id" id="" class="form-control" (click)="getSubcategory(catId.value)" #catId>
                                <option value="">--Select--</option>
                                <option value="{{item['id']}}" *ngFor="let item of categoryData; index as i">
                                    {{item['category_name']}}
                                </option>
                          </select>
                          <span class="text-danger" *ngIf="validationMessage.category_id.invalid && validationMessage.category_id.touched">The Category filed is required</span>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Sub Category</label>
                          <select formControlName="subcat_id" id="" class="form-control">
                                <option value="{{items['id']}}" *ngFor="let items of subCategoryData; index as i">
                                       {{items['subcat_name']}}
                                </option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Description</label>
                          <textarea formControlName="description" id="" cols="30" rows="5" class="form-control">
        
                          </textarea>
                          <span class="text-danger" *ngIf="validationMessage.description.invalid && validationMessage.description.touched">The Description filed is required</span>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Start Date</label>
                          <input type="date" formControlName="start_time" id="" class="form-control">
                          <span class="text-danger" *ngIf="validationMessage.start_time.invalid && validationMessage.start_time.touched">The Start date filed is required</span>
                        </div>
                  </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Who it for</label>
                        <select formControlName="who_it_for" id="" class="form-control">
                          <option value="">--Select--</option>
                          <option value="{{items['id']}}" *ngFor="let items of clientData; index as i">
                              {{items['name']}}
                          </option>
                        </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Recurring</label>
                      <select formControlName="recurring" id="" class="form-control">
                        <option value="">--Select--</option>
                        <option value="weekly">weekly</option>
                        <option value="Monthly">Monthly</option>
                      </select>
                  </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Request a second signature?</label><br>
                      <input type="checkbox" formControlName="second_signature">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Require carer to add a Quick-log after completing?</label><br>
                      <input type="checkbox" formControlName="quick_log">
                    </div>

                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> 
        </div>
    </div>

</div>

