     <!-- Features start -->
     <section class="section bg-light" id="features">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-lg-7 text-center">
                    <h2 class="fw-bold">Get more done</h2>
                    <p class="text-muted">Add your tasks.  Achieve more every day..</p>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
            <div class="row align-items-center mb-5">
                <div class="col-md-5 order-2 order-md-1 mt-md-0 mt-5">
                    <h2 class="mb-4">Organize your life.</h2>
                    <p class="text-muted mb-5">Add tasks like “Read work emails every day at 10am” to fill your to-do list in seconds using Todoist’s powerful natural language recognition and recurring dates..</p>
                    <a href="javascript: void(0);" class="btn btn-primary">Find out more <i class="icon-xs ms-2" data-feather="arrow-right"></i></a>
                </div>
                <!-- end col -->
                <div class="col-md-6 ms-md-auto order-1 order-md-2">
                    <div class="position-relative">
                        <div class="ms-5 features-img">
                            <img src="assets/images/fe1.png" alt="" class="img-fluid d-block mx-auto rounded" />
                        </div>
                        <img src="asstes/images/dot-img.png" alt="" class="dot-img-left" />
                    </div>
                </div>
                <!-- end col -->
            </div> 
            <!-- end row -->
            <div class="row align-items-center section pb-0">
                <div class="col-md-6">
                    <div class="position-relative mb-md-0 mb-5">
                        <div class="me-5 features-img">
                            <img src="assets/images/checkmark.svg" alt="" class="img-fluid d-block mx-auto rounded " />
                        </div>
                        <img src="assets/images/dot-img.png" alt="" class="dot-img-right" />
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-5 ms-md-auto">
                    <h2 class="mb-4">Reach that mental clarity you’ve been longing for.</h2>
                    <p class="text-muted mb-5">Your to-do lists are automatically sorted into Today, Upcoming and custom Filter views to help you focus on your most important things.</p>
                    <a href="javascript: void(0);" class="btn btn-primary">Find out more <i class="icon-xs ms-2" data-feather="arrow-right"></i></a>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- Features end -->
